# Core dependencies
numpy
pandas
sqlalchemy
PyMySQL
psycopg2-binary
loguru
pyyaml
python-dotenv
tenacity
func_timeout
sentence-transformers

# AI/ML dependencies
openai
cohere
boto3
google-generativeai
weaviate-client

# Text2SQL specific
txt2sql
sqlparse
sql-metadata
spacy
scikit-learn
tqdm

# spacy model
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
