aiohappyeyeballs==2.4.3
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==2.0.5
attrs==24.2.0
Authlib==1.3.1
boto3==1.35.44
botocore==1.35.44
Bottleneck==1.3.7
Brotli==1.0.9
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cohere==5.11.1
colorama==0.4.6
comm==0.2.1
cryptography==43.0.3
datasets==2.14.4
debugpy==1.6.7
decorator==5.1.1
dill==0.3.7
distro==1.9.0
executing==0.8.3
fastavro==1.9.7
filelock==3.13.1
frozenlist==1.4.0
fsspec==2024.10.0
greenlet==3.1.1
grpcio==1.67.0
grpcio-health-checking==1.67.0
grpcio-tools==1.67.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.26.0
idna==3.7
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.0
jupyter_core==5.7.2
loguru==0.7.2
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mkl_fft==1.3.10
mkl_random==1.2.7
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.15
nest-asyncio==1.6.0
networkx==3.3
numexpr==2.8.7
numpy==1.26.4
openai==1.52.0
packaging==24.1
pandas==2.2.2
parameterized==0.9.0
parso==0.8.3
pexpect==4.8.0
pillow==10.4.0
pip==24.2
platformdirs==3.10.0
prompt-toolkit==3.0.43
protobuf==5.28.2
psutil==5.9.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.15.1
PyMySQL==1.1.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==25.1.2
regex==2024.9.11
requests==2.32.3
s3transfer==0.10.3
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers==3.2.1
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.36
stack-data==0.2.0
sympy==1.13.2
tenacity==9.0.0
threadpoolctl==3.5.0
tokenizers==0.19.0
torch==2.5.0
torchaudio==2.5.0
torchvision==0.20.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
types-requests==2.32.0.20241016
typing_extensions==4.11.0
tzdata==2024.2
urllib3==2.2.3
validators==0.34.0
wcwidth==0.2.5
weaviate-client==4.9.0
wheel==0.44.0
xxhash==2.0.2
yarl==1.11.0
zipp==3.20.2
